#diceTypes {
  width: 400px;
  height: 400px;
  background-color: red;
  position: absolute;
  left: 35%;
  top: 30%;
}

#d100 {position: absolute; top: 30%; left: 3%}
#d20 {position: absolute; top: 30%; left: 15%}
#d12 {position: absolute; top: 30%; left: 25%}
#d10 {position: absolute; top: 30%; left: 35%}
#d8 {position: absolute; top: 30%; left: 45%}
#d6 {position: absolute; top: 30%; left: 55%}
#d4 {position: absolute; top: 30%; left: 65%}
#roll {
  border-radius: 50px;
  position: absolute;
  top: 25%;
  right: 10%;
  height: 50px;
  width: 50px;
}